.Main {
    background-color: rgb(192, 190, 190);
}

.episodeList {
    padding: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.episode {
    text-align: center;
    margin: 10px;
    
}

.episodeTitle {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;

}
