.Main {
    background-color: rgb(192, 190, 190);
}

.episodeList {
    padding: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    
}


.episode {
    text-align: center;
    margin: 10px;
    background-color: white;
    padding: 0px 10px 10px 10px;
    border-radius: 8px;

    
}

.episodeTitle {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0;
   
}

.summary{
    overflow-wrap: break-word;
    max-width: fit-content;
}