.Main {
    background-color: rgb(192, 190, 190);
}

.episodeList {
    padding: 1px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}


.episode {
    
    margin: 10px;
    background-color: white;
    padding: 0px 15px 15px 15px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
    
}

.episodeTitle {
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-top: 0;
   
}
.image {
    margin: 1px;
} 

.summary{
    overflow-wrap: break-word;
    max-width: fit-content;
    text-align: left;
}